<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545036922752-8m5v8pogeupoq5pbo7200eqbpj5367mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545036922752-8m5v8pogeupoq5pbo7200eqbpj5367mg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545036922752-25bvv11ks8eu8klkoj34h06s31seu48f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-8qlWezdxoB7QsG0OnCSiNOrvq5k3bC8</string>
	<key>GCM_SENDER_ID</key>
	<string>545036922752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginWithSignup</string>
	<key>PROJECT_ID</key>
	<string>loginwithsignup-45540</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithsignup-45540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545036922752:ios:270a5b49ddc0f578a49b65</string>
</dict>
</plist>